<!doctype html>
<html lang="en" ng-app="app">
<head>
  <meta charset="utf-8">
  <title>YouTube Listing</title>
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular/angular-animate.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
</head>
<body ng-controller="PhoneListCtrl">

  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span2">
        <!--Sidebar content-->
        <form>
        User ID: <input ng-model="userID">
        <button ng-click="findVideos()">Find Videos</button>
        <button ng-click="next()">More Videos</button>
        </form>
        Search: <input ng-model="search">

      </div>
      <div class="span10">
        <!--Body content-->

        <div id="videos" ng-switch on="videos.length > 0">
          <ul ng-switch-when="true" class="videos">
            <li class="slide video" ng-repeat="video in videos | ripper:search">
              <a target="_blank" href="{{video.media$group.media$player[0].url}}">
                <img class="video-preview" src="{{video.previewImg}}" alt="Day {{day}}">
                <h3>{{video.title.$t}}</h3>
                <p>{{video.content.$t}}</p>
              </a>
            </li>
          </ul>
          <h2 ng-switch-default>Sorry, no videos.</h2>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
